@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

body {
  overflow-x : hidden;
  background-color: black; 

}
.navbar {
  box-shadow: 2px 2px 5px #a68b32;
  background: black; }

#contact , #tarifs{
  background-color: black; 
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;}

  .navbar .nav-item .nav-link {
  color: white;}

  #tarifs .card .card-body a {
    color : #020000;
  }

  #tarifs h1 , #tarifs ul{
    color: white;
  }
  .navbar .nav-item .nav-link:hover {
     color: #ffc107;
     transition: .2s ease-in-out;
  }

  h1{
    font-family: 'Lato', sans-serif;
  }

.info-header {

  margin: auto;
  border-bottom: 1px #ddd solid; }
  
  footer{
    box-shadow: 1px 1px 8px #a68b32;
  }


@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
  
  